/var/lib/postgres/data/*
!/var/lib/postgres/data/*.gitignore

/etc/*
!/etc/.gitignore
!/etc/*.sample

/srv/*
!/srv/.gitignore
!/srv/Dockerfile*

/log/*
!/log/.gitignore

/opt/seed/*.yml
!/opt/seed/*.sample.yml
